# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
*.swp

# Archivos temporales
*.tmp
*.bak

# Archivos de documentos no relevantes para producción
*.docx
*.zip

# Node (por si acaso)
node_modules/
_dev/
